<!DOCTYPE html>
<html lang="en">
{{> partials/head}}

<body>
  {{> partials/nav}}


  <main class="blog-page" style="margin-top: 150px;">
    <article class="blog-single">
      
      <header class="blog-header">
      <div class='blog-nav'>
        <a href="/blogs#view" class="back-link">← Back to Blogs</a>
        <span class="blog-category">{{BLOG.category}}</span>
        </div>
        <h1>{{BLOG.blogName}}</h1>
        
        <div class="blog-meta">
          {{#BLOG.DATE}}
            <time datetime="{{BLOG.date}}">
              <span>{{date}}</span>
            </time>
          {{/BLOG.DATE}}
          <img src="{{BLOG.blogImage}}" alt="{{BLOG.blogImage}}" style="width:100%; border-radius:12px; margin-bottom:20px;">
        </div>
      </header>

      <div class="blog-content">
        {{{BLOG.blogContent}}} <!-- triple braces to render HTML if you have <p>, <b> etc -->
      </div>

    </article>

    <section class="related-skills">
      <h2>Read more</h2>
      <div class="related-grid">
        {{#POV}}
          <a href="/blogs/{{slug}}" class="post-card">
            <h3>Read the {{character}}'s POV</span></h3>
          </a>
        {{/POV}}
      </div>
    </section>

    <section class="related-skills">
      <h2>More from {{BLOG.category}}</h2>
      <div class="related-grid">
        {{#RELATED}}
          <a href="/blogs/{{slug}}" class="post-card">
          <p>{{blogName}} ~ <span>{{category}}</span></p>

          </a>
        {{/RELATED}}
      </div>
    </section>
  </main>

  {{> partials/more}}

  {{> partials/float}}



  {{> partials/footer}} <!-- if you have a footer partial -->

</body>
</html>

