  <!-- HOME PAGE -->
  <section id="home" class="pageF active">
    <div class="hero">
      <div>
        <h1>Hi, I'm <span>Vaughn Valour</span></h1>
        <p>Full Stack Web Developer helping businesses rank and convert with SEO and user-friendly websites. I
          build
          fast, modern,
          and scalable web applications.</p>
        <div class="hero-btnS">
          <a href="/projects#view"><button class="btn">View My Work</button></a>
          <a href="/blogs#view"><button class="btnR">Read Stories</button></a>
        </div>
      </div>
      <div>
        <img src="https://images.unsplash.com/photo-1555066931-4365d14bab8c?w=600" alt="Developer coding">
      </div>
    </div>