<section id="home" class="page active">
 <div class="skills">
      <h2>What I Do</h2>
      <div class="grid">
      {{#SKILLS}}
      <div class="skill-grid">
        <div class="skill-card">
          <h3>{{skill}}</h3>
          <p>{{tools}}</p>
        </div>
        </div>

      
      {{/SKILLS}}
      </div>
    </div>
    
    </div>
    </section>